    <section class="exchanges">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Partners</h2>
                </div>
            </div>
            <div class="row">
                {% for exchange in site.exchanges %}
                <div class="col-md-2 col-sm-6">
                    <a href="#">
                        <img src="img/exchanges/{{ exchange.name }}.jpg" class="img-responsive img-centered" alt="{{ exchange.name }}">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
