    <section id="process">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our process</h2>
                    <h3 class="section-subheading text-muted">&nbsp;</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 1</h4>
                                    <h4 class="subheading">Audience</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Campaigns start with target audiences. Our team combines research, third-party data and behavior to ensure the right segments are reached.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 2</h4>
                                    <h4 class="subheading">Strategy</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Based on audience segments, we develop cross-channel strategies that will allow for testing, evaluation, and optimization.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 3</h4>
                                    <h4 class="subheading">Creative</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Your creative needs to meet your customer with the right message on the right device. We make sure you focus on ideas instead of formatting.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 4</h4>
                                    <h4 class="subheading">Sprint</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Once we’ve received creative, it’s time to begin the campaign. You’ll be able to analyze performance in real-time through our analytics platform.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 5</h4>
                                    <h4 class="subheading">Analytics</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The MegaWatt platform provides 100% campaign transparency. Our team interprets the details so you can share successes throughout your company.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Rinse
                                    <br>and
                                    <br>Repeat!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
