    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">We are small team of entrepreneurs, ex-Googlers, and technologists that united through a desire to provide brands with more cost-efficient ways to reach their audiences.</h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-{{ 12 | divided_by:forloop.length }}">
                    <div class="team-member">
                        <img src="img/team/{{ member.image }}" class="img-responsive img-circle" width="200" alt="{{ member.name }}">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">We hire only the best account managers with the most experience using programmatic media. Email us at {% include email-link.html %} if you are interested in joining our mission.</p>
                </div>
            </div>
            <div class="row" style="margin-top: 5%;">
                <div class="col-sm-12">
                    <blockquote>
                        <p>Knowing Chris on both personal as well as professional levels, he is highly motivated and extremely resourceful. His drive to succeed in the extremely competitive and ever-changing Internet Marketing industry, as well as his vast knowledge of how the industry works, is something to admire.</p>
                        <footer>Brice Faubel, Art Director at Razorfish</footer>
                    </blockquote>
                </div>
                <div class="col-sm-12">
                    <blockquote>
                        <p>Chris is a phenomenal client advocate who understands the online marketing needs of the businesses he represents. A great team manager, Chris has built a team of client representatives who excel in client service.</p>
                        <footer>Brian Boland, VP Advertising Technology at Performics</footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>
